<div class="container-fluid" style="padding:0">
<!-- banner section -->
  <div class="banner d-flex flex-column align-items-center">
    <div class="navbar">
    </div>
    <div class="banner-text">
      <h1>Dress To Impress</h1>
    </div>
  </div>

  <!-- container section -->
  <!-- set width in container -->
  <div class="container-categories" style="padding: 0 40px">
    <h2>Categories</h2>
    <div class="categories d-flex flex-row flex-wrap justify-content-around">
      <div class="d-flex flex-column mb-4 mb-md-4">
        <img src="" alt="" class="background rounded">
        <span>Gala</span>
      </div>
      <div class="d-flex flex-column mb-4 mb-md-4">
        <img src="" alt="" class="background">
        <span>Christmas</span>
      </div>
      <div class="d-flex flex-column mb-4 mb-md-4">
        <img src="" alt="" class="background">
        <span>Halloween</span>
      </div>
      <div class="d-flex flex-column mb-4 mb-md-4">
        <img src="" alt="" class="background">
        <span>Carnival</span>
      </div>
    </div>
  </div>
</div>
