.banner {
  background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), image-url('banner_image.jpg');
  max-width: 100%;
  height: 600px;
  background-size:cover;
  background-position: center;
}

.logo-banner-image {
  margin: auto;
  width: 50%;
  text-align: center;
}
.aside {
  position: sticky;
  top: 0;
  padding: 100px 0;
  height: 100vh;
  background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), image-url('banner_image.jpg');
}
.small {
  width: 300px;
  margin: 50% auto;
}
