.btn-ghost {
  color: white;
  background-color: #0b2637;
  border: 1px solid #0b2637;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 14px;

  &:hover {
    opacity: 0.8;
    color: white;
  }
}

.btn-margin {
  margin-top: 35px;
}

.btn-review {
  color: white;
  background-color: #C7B2A7;
  border: 1px solid #C7B2A7;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 14px;

  &:hover {
    opacity: 0.6;
    color: #3F3A3C;
  }
}

.search {
  opacity: 0.6;
  color: #C7B2A7;

  &:hover {
    opacity: 0.9;
    transition: 0.3s;
  }
}
