.text-center{
  color: #C7B2A7;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0px;
  text-decoration: underline;
}
// Review
.card-product-rew .card-product-infos-rev {
  padding: 16px;
  h2 {
   font-size: 16px;
 }
 p {
  font-size: 14px;
 }
}

.card-product-rew {
position: relative;
height: 120px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
span {
   position: absolute;
   right: 2px;
   bottom: 1px;
  }
}
.img-rev {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

// Bootstrap

.card-product {
  overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-product img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-category {
  margin: 20px;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.7;
  &:hover {
    opacity: 0.9;
    transition-time: 0.3s;
  }
  i {
    color: white;
    margin-left: 20px;
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  width: 250px;
  color: black;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin: 5px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.container-categories {
  margin: 50px;
  margin-top: 20px;
  padding-left: 85px;
  display: inline-block;
  // border: 1px solid black;
  vertical-align: middle;
}

.background {
  width: 280px;
  height: 280px;
  border-radius: 5px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
  justify-content: left;
  text-align: center;
  display: inline-block;
  position: relative;
  &:hover {
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
  }
}

#category-title {
  padding-top: 16px;
}


// Dashboard img
.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 100%;

}
.card {
  height: 350px;
  width: 200px;
  margin: 10px;
}














