.map-box {
  height: 100vh;
  width: 100%;
  position: sticky;
  right: 0;
}

.map-small {
  width: 100%;
  margin: 0 auto;
  height: 415px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

