.navbar {
  background-color: rgba(63, 58, 60, 0.9);
  height: 75px;
}

.logo-navbar {
  margin: 14px;
  margin-right: 20px;
  background-size: 100%;
  height: 50px;
  width: auto;
  vertical-align: middle;
}

#navbtn {
  position: relative;
  display: inline-block;
  color: #C7B2A7;
  opacity: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 10px 20px;
  margin: 4px 4px;
  font-size: 18px;
  border: 3px solid transparent;
  border-radius: 1px;
  &:hover {
    background-color: transparent;
    color: #C7B2A7;
    border: 3px solid #C7B2A7;
    border-radius: 1px;
    transition: 0.3s;
  }
}

.dropdown {
  position: relative;
  display: block;
  font-family: 'Open Sans', sans-serif;
  weight: regular;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2px;
  a {
    color: #C7B2A7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: #C7B2A7;
      border-radius: 2px;
      color: white;
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

a.nav-link {
  padding: 0px 0px;
  color: #C7B2A7;
  font-size: 18px;
  display: flex;
  position: relative;
  &:hover {
    color: #C7B2A7;
    opacity: 0.9;
    transition: 0.3s;
  }
}

button {
  background-color: transparent;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  display: flex;
  position: relative;
  &:hover {
    color: #353131;
    transition: 0.3s;
  }
}

button.search{
  padding: 10px 20px;
  background-color: #C7B2A7;
  border-radius: 1px;
  justify-content: center;
  position: relative;
  font-size: 18px;
  height: 45px;
}

.form-control {
  border: none;
  border-radius: 1px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 1px;
  margin-right: 13px;
  height: 45px;
  width: 250px;
}

.willbutton {
  border: none;
  height: 45px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin-right: 16px;
  margin-left: 0px;
  width: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #C7B2A7;
  color: white;
  border-radius: 1px;
  &:hover {
    color: #3F3A3C;
    transition: 0.3s;
  }
}
